@import './skeleton.css';
@keyframes placeHolderShimmer{
  0%{
      background-position: -468px 0
  }
  100%{
      background-position: 468px 0
  }
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #eaeaea;
}
.loading {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: currentColor;
  background: linear-gradient(to right, currentColor 8%, #F0F0F0 18%, currentColor 33%);
  background-size: 800px 104px;
  height: 96px;
  position: relative;
}
a {
  text-decoration: none;
}
a:hover {
  color: #087ca0;
}

.scroll-top {
  position: fixed;
  bottom: 10px;
  right: 10px;
  padding: 10px;
  border: 1px solid currentColor;
  border-radius: 10px;
  background: #fff;
  opacity: 0;
  cursor: pointer;
  pointer-events: none;
  transition: opacity 0.5s;
}
.scroll-top.show {
  opacity: 0.5;
  pointer-events: all;
}

.btn-link {
  border: none;
  padding: 0;
  margin: 0;
  display: inline-block;
  color: #1EAEDB;
  text-transform: none;
  height: auto;
  line-height: inherit;
  font-weight: normal;
  letter-spacing: normal;
  font-size: inherit;
}
.btn-link:hover {
  color: #087ca0;
}

