body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.wrapper {
  padding: 0 10px;
}
.top-menu {
  list-style-type: none;
  margin: 0;
  padding: 10px 0;
}
.top-menu-link {
  display: inline-block;
  margin: 0 10px;
}